<div class="container"  style="text-align: center;">
  <div class="row intro">

    <div class="jumbotron">
      <h1>Joe Scott</h1>
      <p>HERE COME DAT BOI</p>
      <p>(o shit waddup)</p>
    </div>

  </div>

  <div class="row tres-things">
    <h2>WHO DAT BOI</h2>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <h3>Video Games</h3>
      <p>I like to play games and make games. Games are what got me interested in computer science in the first place and one of the main driving forces of how I got to be where I am today.</p>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <h3>Music</h3>
      <p>Everyone listens to music. Whether you're sad, happy, angry, excited, or whatever, you'll probably end up listening to music to fit your mood. Music is a powerful manipulator and I like to make things that make music.</p>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <h3>Web Dev</h3>
      <p>All aboard the Ruby train! Mainly Rails and Javascript though I'd really like to dive into mobile development so I've also been looking into React/React Native/Ionic. </p>
    </div>

  </div>

  <div class="row xperience" style="background-color: #f2f2f2">
    <h2>Stuff I've Worked On</h2>
    <div class="col-sm-12 col-md-12 col-lg-12">

      <div class="col-sm-4 col-md-4 col-lg-4">
        <div>
          <a href=""><h3>Echo Beat</h3></a>
          <p>A game in which a player must figure out and repeat a beat given to them.</p>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4">
        <div>
          <a href=""><h3>Earshot</h3></a>
          <p>A location-based music streaming app that allows an artist to release a song exclusive to an area.</p>
        </div>
      </div>

       <div class="col-sm-4 col-md-4 col-lg-4">
         <div>
          <a href=""><h3>Chromesthetic</h3>
          </a>
          <p>A simple music streaming app that returns a song based on a user's color choice.</p>
        </div>
      </div>

    </div>
  </div>
  <div class="footer">
    <p>Contact: <a href="mailto:scottjosephj89@gmail.com">Email</a></p>
  </div>
</div>

